    $lightgray: #F2F2F2;
    $medgray: #8F8F8F;
    $whitegreen: #E6F3E2;
    $lightgreen: #73c259;
    $medgreen: #5EB342;
    $darkgreen: #4F9537;
    html {
        background-color: $whitegreen;
    }
    
    .header-container {
        li:hover {
            border-color: $darkgreen;
        }
    }
    
    .home-div,
    .sec-div,
    .expense-div,
    .budget-div,
    .piechart {
        background-color: #f9f9f9;
    }
    
    .banner {
        background-color: #CDE7C5;
    }
    
    form {
        background-color: #f9f9f9;
        input[type="email"],
        input[type="password"],
        input[type="text"],
        select {
            background-color: $lightgray;
        }
        a {
            color: $medgreen;
            &:hover {
                color: $darkgreen;
            }
        }
    }
    
    input[type="submit"],
    .button {
        color: white;
        background-color: $lightgreen;
        &:hover {
            background-color: $medgreen;
        }
    }
    
    .message {
        color: $medgray;
    }
    
    .expense-card {
        .expense-date {
            color: $medgray;
        }
    }