    $lightgray: #F2F2F2;
    $medgray: #8F8F8F;
    $whitegreen: #E6F3E2;
    $lightgreen: #73c259;
    $medgreen: #5EB342;
    $darkgreen: #4F9537;
    $two: #00B573;
    $three: #00A58E;
    $four: #0093A2;
    $five: #007FAB;
    html {
        background-color: $whitegreen;
    }
    
    .header-container {
        li:hover {
            border-color: $darkgreen;
        }
    }
    
    .home-div,
    .sec-div,
    .expense-div,
    .budget-div,
    .dashboard {
        background-color: #f9f9f9;
    }
    
    .banner {
        background-color: #CDE7C5;
    }
    
    form {
        background-color: white;
        input[type="email"],
        input[type="password"],
        input[type="text"],
        input[type="date"],
        select {
            background-color: $lightgray;
        }
        a {
            color: $medgreen;
            &:hover {
                color: $darkgreen;
            }
        }
    }
    
    input[type="submit"],
    .button,
    .button-link {
        color: white;
        background-color: $lightgreen;
        &:hover {
            background-color: $medgreen;
        }
    }
    
    .message {
        color: $medgray;
    }
    
    .expense-link {
        .expense-date {
            color: $medgray;
        }
    }
    
    .dashboard {
        .piechart,
        .search,
        .recent-transactions,
        .add-form {
            background-color: white;
            box-shadow: 3px 3px 10px 1px $medgray;
        }
    }