@media screen and (min-width: 992px) {
    .set-width,
    .notice {
        width: 60%;
        margin: auto;
    }
    .home-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
    }
    .expense-card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        .expense-text {
            display: flex;
            justify-content: space-between;
        }
    }
    .budget-text {
        display: flex;
    }
    .dash-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 1.5rem;
        .piechart {
            grid-column: 1;
            grid-row: 1;
        }
        .search {
            grid-column: 2;
            grid-row: 1;
        }
        .recent-transactions {
            grid-column: 1;
            grid-row: 2;
        }
    }
}