@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather&display=swap');
@import "color";
@import "forms";
@import "large";
@import "reset";
@import "typography";
.header-container {
    ul {
        display: flex;
    }
    li {
        border-bottom: 2px solid transparent;
        margin-right: 1rem;
    }
}

.set-width {
    width: 98%;
    margin: auto;
}

.button {
    padding: 10px 24px;
    border-radius: 4px;
}

.home-div {
    padding: 1rem 0;
    h1 {
        margin-bottom: 1rem;
    }
    button {
        margin-top: 2rem;
    }
}

.banner,
.sec-div {
    padding: 1.5rem 0;
}

.expense-div,
.budget-div {
    padding: 1.5rem;
}

footer {
    padding: 1rem;
}

.expense-list {
    padding: 1.5rem 1rem;
    .expense-card {
        margin-bottom: 1rem;
        display: block;
    }
}

.dash-wrapper>div,
#piechart {
    border-radius: 4px;
}

.dash-wrapper {
    .piechart,
    .recent-transactions {
        padding: 1rem;
    }
    padding: 1.5rem 0;
}