@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather&display=swap");
html {
  background-color: #E6F3E2;
}

.header-container li:hover {
  border-color: #4F9537;
}

.home-div,
.sec-div,
.expense-div,
.budget-div {
  background-color: #f9f9f9;
}

.banner {
  background-color: #CDE7C5;
}

form {
  background-color: white;
}

form input[type="email"],
form input[type="password"],
form input[type="text"],
form select {
  background-color: #F2F2F2;
}

form a {
  color: #5EB342;
}

form a:hover {
  color: #4F9537;
}

input[type="submit"],
.button {
  color: white;
  background-color: #73c259;
}

input[type="submit"]:hover,
.button:hover {
  background-color: #5EB342;
}

.message {
  color: #8F8F8F;
}

.expense-card .expense-date {
  color: #8F8F8F;
}

form {
  padding: 1rem;
  margin: auto;
  border-radius: 4px;
}

form input,
form select {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

@media screen and (min-width: 992px) {
  .header-content,
  .home-content,
  .banner-content,
  .sec-content,
  .footer-content,
  .expense-div,
  .budget-div,
  .notice {
    width: 60%;
    margin: auto;
  }
  .home-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
  .expense-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  .expense-card .expense-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .budget-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dashboard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-gap: 1.5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

input,
.button {
  border: none;
}

.button {
  display: inline-block;
  margin: 1.5rem 0;
}

.header-container li {
  display: block;
  text-align: center;
  padding: 14px 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

body {
  font-family: 'Merriweather', serif;
}

form h1 {
  text-align: center;
}

form .message {
  text-align: center;
}

input[type="submit"],
.button {
  text-transform: uppercase;
}

.sec-content {
  text-align: center;
}

.card img {
  margin-top: 1.5rem;
}

.card h4 {
  margin-bottom: 0.5rem;
}

.expense-div h1,
.budget-div h1 {
  text-align: center;
}

.expense-div h3,
.budget-div h3 {
  margin-top: 0.5rem;
}

.header-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-container li {
  border-bottom: 2px solid transparent;
  margin-right: 1rem;
}

.button {
  padding: 10px 24px;
  border-radius: 4px;
}

.home-div {
  padding: 1rem 0;
}

.home-div h1 {
  margin-bottom: 1rem;
}

.home-div button {
  margin-top: 2rem;
}

.banner,
.sec-div {
  padding: 1.5rem 0;
}

.expense-div,
.budget-div {
  padding: 1.5rem;
}

footer {
  padding: 1rem;
}

.expense-list {
  padding: 1.5rem 1rem;
}

.expense-list .expense-card {
  margin-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */